.path-message-output-kopereemail {
    #fitem_id_subject,
    #fitem_id_bodyhtml,
    #fgroup_id_buttonar {
        display: flex;
        flex-direction: column;
        > div {
            width: 100%;
        }
        input {
            width: 100%;
        }
    }
    .message-kopereemail-admin-providers__actions {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
    }
}
